<!-- Card Profile page -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <title>Card Items</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/7909/7909818.png" type="image/x-icon">
  </head>
  <body>
    <!-- card items -->
    <div class="cardItems">
      <div class="cardDetails">
        <!-- Card One -->
        <div class="card">
          <div class="cardImg">
            <img src="https://m.media-amazon.com/images/I/41lKR9rth8L._AC_UL320_.jpg" alt="Card Image">
          </div>
          <div class="card-content">
            <h3>Milkyway Women</h3>
            <p>You look stunningly beautiful in this lovely dress.Buy this Stylish Western Dress to make your look more Beautiful.</p>
          </div>
          <div class="more-btn">
            <a href="#" class="btn">Read More</a>  <!-- here you add the link to know more about item -->
          </div>
        </div>
        <!-- Card Two -->
        <div class="card">
          <div class="cardImg">
            <img src="https://m.media-amazon.com/images/I/61kyQyvuWwL._UX679_.jpg" alt="Card Image">
          </div>
          <div class="card-content">
            <h3>Niza Fashion Women's</h3>
            <p>This beautiful Women's Satin Georgette Long Anarkali Gown Semi-Stiched Free Size is perfect for any special.</p>
          </div>
          <div class="more-btn">
            <a href="#" class="btn">Read More</a>  <!-- here you add the link to know more about item -->
          </div>
        </div>
        <!-- Card Three -->
        <div class="card">
          <div class="cardImg">
            <img src="https://m.media-amazon.com/images/I/8153SehxZuL._UY741_.jpg" alt="Card Image">
          </div>
          <div class="card-content">
            <h3>Lymio Dresses for Women</h3>
            <p>The images shown are for representational purposes only. Please note that the colour of the product.</p>
          </div>
          <div class="more-btn">
            <a href="#" class="btn">Read More</a>  <!-- here you add the link to know more about item -->
          </div>
        </div>
        <!-- Card Four -->
        <div class="card">
          <div class="cardImg">
            <img src="https://m.media-amazon.com/images/I/6136yNqXZsL._UY741_.jpg" alt="Card Image">
          </div>
          <div class="card-content">
            <h3>Miss Chase Women's Mini</h3>
            <p>Sleeveless cotton mini shift dress with pockets, has drawstring at waist and zipper at front.</p>
          </div>
          <div class="more-btn">
            <a href="#" class="btn">Read More</a>  <!-- here you add the link to know more about item -->
          </div>
        </div>
        <!-- Card Five -->
        <div class="card">
          <div class="cardImg">
            <img src="https://m.media-amazon.com/images/I/71CwkjOXYWL._UY741_.jpg" alt="Card Image">
          </div>
          <div class="card-content">
            <h3>Shasmi Women's Georgette</h3>
            <p>He georgette fabric in this attractive color ready to wear gown dress will make sure that the fitting.</p>
          </div>
          <div class="more-btn">
            <a href="#" class="btn">Read More</a>  <!-- here you add the link to know more about item -->
          </div>
        </div>
        <!-- Card Six -->
        <div class="card">
          <div class="cardImg">
            <img src="https://m.media-amazon.com/images/I/61zWwveb7YL._UY741_.jpg" alt="Card Image">
          </div>
          <div class="card-content">
            <h3>Rayon Anarkali Kurti</h3>
            <p>The product may vary from the images due to various reasons like monitor setting or photographic.</p>
          </div>
          <div class="more-btn">
            <a href="#" class="btn">Read More</a>  <!-- here you add the link to know more about item -->
          </div>
        </div>
        <!-- Card Seven -->
        <div class="card">
          <div class="cardImg">
            <img src="https://m.media-amazon.com/images/I/51WVQRcVPSL._UY741_.jpg" alt="Card Image">
          </div>
          <div class="card-content">
            <h3>FIBREZA Georgette</h3>
            <p>Women Pure Georgette Fabric Traditional Ethnic Western Wear Brand New and high quality.</p>
          </div>
          <div class="more-btn">
            <a href="#" class="btn">Read More</a>  <!-- here you add the link to know more about item -->
          </div>
        </div>
        <!-- Card Eight -->
        <div class="card">
          <div class="cardImg">
            <img src="https://m.media-amazon.com/images/I/61mf2yiKK7L._UY741_.jpg" alt="Card Image">
          </div>
          <div class="card-content">
            <h3>FASHION Women Layered</h3>
            <p>It’s a party dress and gives a sexy look. It’s comfortable and easy maintenance.</p>
          </div>
          <div class="more-btn">
            <a href="#" class="btn">Read More</a>  <!-- here you add the link to know more about item -->
          </div>
        </div>
        <!-- Card Nine -->
        <div class="card">
          <div class="cardImg">
            <img src="https://m.media-amazon.com/images/I/81ts1wxBkwL._UY741_.jpg" alt="Card Image">
          </div>
          <div class="card-content">
            <h3>Jaipuri Cotton Flared</h3>
            <p>Fashions Fit and Flare Dresses are an Excellent way to Create a Curvy Waistline. Fit and Flare Dresses.</p>
          </div>
          <div class="more-btn">
            <a href="#" class="btn">Read More</a>  <!-- here you add the link to know more about item -->
          </div>
        </div>
        <!-- Here you can add more card if need -->
      </div>
    </div>
    <!-- footer -->
    <footer class="footer">
      <div class="row primary">
        <div class="column about">
          <h3>Connect</h3>
          <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            UNITECH CYBER PARK, Unit 007-008, GF, Tower A 
            Sector 39, Gurugram, Haryana 122003
          </p>
          <div class="social">
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-twitter-square"></i>
            <i class="fa fa-linkedin-square"></i>
            <i class="fa fa-instagram"></i>
          </div>
        </div>
        <div class="column link">
          <h3>Links</h3>
          <ul>
            <li><a href="#">Home</a></li>  <!-- Here I am attached onlt one link -->  <!-- please Yuo attech which you want -->
            <li><a href="#team">Team</a></li>  <!-- Attach the link of your team -->
            <li><a href="#blogs">Blogs</a></li>  <!-- Attach the link of your blogs -->
            <li><a href="#support">Support</a></li>  <!-- Attach the link of your support team -->
          </ul>
        </div>
        <div class="column subscribe">
          <h3>Stay in Touch</h3>
          <div>
            <input type="email" placeholder="Your email here..." />
            <button>Subscribe</button>
          </div>
        </div>
      </div>
      <div>
        <div class="row copyright">
          <div class="footer-menu">
            <a href="#">Home</a>
            <a href="">F.A.Q</a>
            <a href="">Cookies Policy</a>
            <a href="">Terms Of Service</a>
            <a href="">Support</a>
          </div>
          <div>
            <p>&copy; 2023 AUTHENTICATION RIGHTS RESERVED.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>