<!DOCTYPE html>
<html>
    <!-- Headder -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/7909/7909818.png" type="image/x-icon">
        <!-- ***** StyleSheet ***** -->
        <link rel="stylesheet" href="/css/reset.css">
    </head>
    <body>
        <div class="formContainer">
            <form class="form" action="/reset" method="post">
                <div class="img-div">
                    <img class="resetimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWNeZFGuF8U1J_sztO1mq9Pw9HDV-uD2KZQKCCkKRYe2xwe54L10AYGrTaMkIfQPQJtR0&usqp=CAU" alt="">
                </div>
                <h1 class="heading">Reset Your Password!</h1>
                <div><img src="" alt=""></div>
                <div class="inputField">
                    <input class="inputFieldi" type="email" placeholder="Enter Your Email" name="email" required/>
                </div> 
                <div class="inputField">
                    <input class="inputFieldi" type="password" name="oldpassword" placeholder="Enter Your Old password"/ required>
                </div>
                <div class="inputField">
                    <input class="inputFieldi" type="password" name="newpassword" placeholder="Enter Your New password" required>
                </div>
                <div class="btncontainer">
                    <button class="btn" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </body>
</html>